h1 { text-align: center;}

h2{ text-align: center;}

h3 { text-align: center;}

p { text-align: center;
    font-size: large;}

    .imagemcentralizada { text-align: center;}
    
    .origem { background-color: rgb(255, 88, 88);}
    .termos { background-color: rgb(241, 71, 71);}
    .decada { background-color: rgb(248, 86, 86);}

    .cinco { background-color: rgb(235, 87, 87);}
    .seis { background-color: rgb(238, 81, 81);}
    .sete { background-color: rgb(228, 75, 75);}
    .oito { background-color: rgb(228, 80, 80);}
    .nove { background-color: rgb(235, 92, 92);}
    .zero { background-color: rgb(245, 100, 100);}
    .hoje { background-color: rgb(248, 94, 94);}
